language: bash
services: docker
before_install:
  - cd E:\ReactJS-SpringBoot-RESTfull
  - echo "We are in the Docker folder!!!"
script:
  - docker-compose build
before_deploy:
  - echo "${DOCKER_PASSWORD}" | docker login --username "${DOCKER_USERNAME}" --password-stdin
deploy:
  provider: script
  script:
    docker push leoneoliveira/mysql-rest-with-spring-boot;
    docker push leoneoliveira/rest-with-spring-boot;
  on: 
    branch: master
notifications:
  email: false